body {
    height: 100vh;
    overflow: hidden;
}

.content {
    background-image: url("../../images/backgrounds/background-chambra-blue.svg");
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start; 
    padding: 20px;
    overflow-y: hidden;
}

.content-body {
    position: relative;
    background: #fff;
    width: 60%;
    max-width: 1200px;
    height: 100%;
    box-shadow: 0px 4px 60px 0px rgba(13, 21, 75, 0.3);
}

.login-body {
    z-index: 200;
    margin-left: 50px;
    padding: 30px;
    width: 400px;
    max-width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 3px 20px 0px rgba(13, 21, 75, 0.3);
}

.login-content p {
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.8);
}

.login-content a {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.5);
}

.images-bg .notebook-img {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.notebook-img {
    position: absolute;
    top: 57%;
    left: 0;
    width: 320px;
    z-index: 100;
}

.chat-img {
    position: absolute;
    top: 20%;
    right: 10%;
    width: 700px;
    z-index: 100;
}

/* .header-chat {
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 10vh;
    background: #194280;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-chat h2 {
    margin-bottom: 0;
} */

.content-chat {
    position: relative;
    width: 100%;
    height: 90%;
    padding: 1.6rem;
    padding-top: 3.5rem;
    padding-bottom: 1rem;
    background-color: #f5f3f3;
    overflow: auto;    
}

.content-chat::-webkit-scrollbar {
    width: 5px;
}

.content-chat::-webkit-scrollbar-thumb {
    background: #2860b3;
    border-radius: 4rem;
}

.footer-chat {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #194280;
    width: 100%;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.inputs input {
    border-radius: 10px;
    border: none;
}