* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Days One', sans-serif;
    scroll-behavior: smooth;
}

ul, li, a {
    text-decoration: none;
    list-style: none;
}

/* Chrome/Opera/Safari */
::-webkit-input-placeholder { font-size: 0.8rem; }

/* Firefox 19+ */
::-moz-placeholder { font-size: 0.8rem; }

/* IE 10+ */
:-ms-input-placeholder { font-size: 0.8rem; }

/* Firefox 18- */
:-moz-placeholder { font-size: 0.8rem; }
 
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;    
}

input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}