::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 0.8rem;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 0.8rem;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 0.8rem;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 0.8rem;
}

/*ANIMATION BLOB*/
@-webkit-keyframes slidein { 
    from { 
        margin-left: 0; 
    } 
    to { 
        margin-left: 100%; 
    }  
}
@keyframes slidein { 
    from { 
        margin-left: 0; 
    } 
    to { 
        margin-left: 100%; 
    }  
}

.rocket {
    width: 120px;
    animation: 80s linear forwards slidein;;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;    
}

input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}

body {
    height: 100vh;
    overflow: hidden;
}

ul, li, a {
    text-decoration: none;
    list-style: none;
}

.content {
    background-image: url("../images/backgrounds/background-chambra-blue.svg");
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start; 
    padding: 20px;
    overflow-y: hidden;
}

.content-body {
    position: relative;
    background: #fff;
    width: 60%;
    max-width: 1200px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 60px 0px rgba(13, 21, 75, 0.3);
}

.login-body {
    z-index: 200;
    margin-left: 50px;
    padding: 30px;
    width: 400px;
    max-width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 3px 20px 0px rgba(13, 21, 75, 0.3);
}


.login-content p {
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.8);
}

.login-content a {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.5);
}

.images-bg .notebook-img {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.notebook-img {
    position: absolute;
    top: 57%;
    left: 0;
    width: 320px;
    z-index: 100;
}

.chat-img {
    position: absolute;
    top: 20%;
    right: 10%;
    width: 700px;
    z-index: 100;
}

.header-chat {
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 10vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #194280;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-chat h2 {
    margin-bottom: 0;
}

.content-chat {
    position: relative;
    width: 100%;
    height: 90%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 1.6rem;
    padding-top: 5rem;
    padding-bottom: 0;
    background-color: #f5f3f3;
    overflow: auto;    
}


.content-chat::-webkit-scrollbar {
    width: 5px;
}

.content-chat::-webkit-scrollbar-thumb {
    background: #2860b3;
    border-radius: 4rem;
}

.footer-chat {
    position: relative;
    background: #194280;
    width: 100%;
    height: 10vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.inputs input {
    border-radius: 10px;
    border: none;
}

.emojis {
    width: 60%;
    background-color: #fff;
    position: fixed;
    bottom: 80px;
    box-shadow: 0px 3px 20px 0px rgba(13, 21, 75, 0.3);
    border-radius: 10px;
    display: none;
    z-index: 10;
}

.btn-sm {
    font-size: 1.8rem;
}

.btn-sm:hover {
    background-color: #2860b3;
    color: #fff;
}




/*RESPONSIVE*/
@media (max-width: 970px){
.chat-img {
    display: none;
}
}

@media (max-width: 800px){
.rocket {
    display: none;
}

.content {
    display: flex;
    justify-content: center; 
    padding: 0;
}

.login-body {
    margin: 0;
    margin-top: 10%;
}

.content-body {
    width: 100%;
    border-radius: 0px; 
}

.header-chat {
    border-radius: 0px;
}

.content-chat::-webkit-scrollbar {
    width: 0;
}

.footer-chat {
    border-radius: 0px;
}

.btn-sm {
    font-size: 1rem;
}
}

@media (max-width: 500px){
.notebook-img {
    width: 270px;
}
}

